.register-form {
    width: 40%;
    margin:auto;
    position: relative;
    top: 100px;
    background-color: rgb(187, 113, 128);
    padding: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-transform: uppercase;  
}

.submit-btn{
    background-color: white;
    width: 20%;
    color: rgb(187, 113, 128);
    font-size: 20px;
    font-weight: bold;
    margin-top:20px;
}

.register-label{
    color: white;
    font-weight: bold;
}

.header{
    text-align: center;
    color: white;
    font-weight: bold;
    position: relative;
    top: -20px;
    text-transform: initial;
}

.register-group{
    width: 60%;
}